/***********************

https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a 
000814 - DARK NAVY 
001D3D - MID NAVY
003566 - NAVY
FFD60A - YELLOW
7fc8f8 - BABY BLUE

*
-------------------------------------------------*/

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}
